body{
    font-size: 13px;
    background-color: #F3F2F2;
    font-family: 'Poppins';
}


/* -------------------------navbar start--------------------------- */
.navbar{
    background-color: #F3F2F2;
}
.navbar .nav-link, .nav-link, .nav-link{
    color: #131212;
    transition: 0.5s ease all;
}
.navbar .nav-link:focus, .nav-link:hover, .nav-link.active{
    color: #131212;
    font-weight: bold;
}
.nav-shadow{
    /* box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset; */
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}


/* -------------------------navbar start--------------------------- */





/* ---------------------------------toggle button css start--------------------------------------- */



.navbar-toggler {
    border: 0 !important;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
  }
  
  /* Lines of the Toggler */
  .toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #dfac4f;
    display: block;
    transition: all 0.2s;
  }
  
  /* Adds Space between the lines */
  .middle-bar{
    margin: 5px auto;
  }
  
  /* State when navbar is opened (START) */
  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  
  .navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  /* State when navbar is opened (END) */
  
  /* State when navbar is collapsed (START) */
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }
  
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }
  /* State when navbar is collapsed (END) */
  
  /* Color of Toggler when collapsed */
  .navbar-toggler.collapsed .toggler-icon {
    background-color: #FEAC0F;
  }
 
  
  
/* -------------------------------------------toggle button css end-------------------------------------------- */





/* -------------------------common css start--------------------------- */

.button-style{
    background-color: #FEAC0F;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    padding: 12px 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
}
.head-color{
    color: #131212;
}
.para-color{
    color: #827C7C;
}
.yellow-color{
    color: #FEAC0F;;
}
.button-style:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

/* -------------------------common css end--------------------------- */




/* -------------------------home css start--------------------------- */

.home{
    margin-top: 200px;
}
.home h1{
    font-weight: 100;
    line-height: 62px;
}
.home  a{
    text-decoration: none;
}
.home .headline-contents{
    width: 70%;
    font-size: 16px;
}
.home .app-store-card svg{
    width: 20px;
    height: auto;
    color: #131212;
}
.home .app-store-card .card{
    border-radius: 20px;
    height: 90px;
    background-color: #ffffff;
    border: 0;
    border: 1px solid #FEAC0F;
}
.google-play-card .card{
    border-radius: 20px;
    height: 90px;
    background-color: #ffffff;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.google-play-card svg{
    color: #FEAC0F;
    width: 20px;
    height: auto;
}
.home .attendance-card .card{
    border: 1px solid #FEAC0F;
    border-radius: 20px;
    margin-top: 100px;
}
.home .attendance-card-img{
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: -50px;
}
.home .attendance-card .card p{
    margin: 0 auto;
}
.home .attendance-card .underline{
    margin: 0 auto;
    display: block;
}
@media(max-width: 991px){
    .home{
        text-align: center;
        margin-top: 150px;
        padding: 10px;
    }
    .google-play-card .card{
        height: 110px;
    }
    .home .app-store-card .card{
        height: 110px;
    }
    .home .headline-contents{
        width: 100%;
        text-align: center;
    }
    .home h1{
        font-weight: 100;
        line-height: normal;
    }
}

/* -------------------------home css end--------------------------- */




/* -------------------------about start--------------------------- */

.about{
    margin-top: 200px;
}
.about .text-card .card{
    background-color: #FEAC0F;
    border-radius: 20px;
    width: 250px;
    height: 150px;
    justify-content: center;
    border: 0;
    padding: 20px;
    margin-left: 100px;
}
.about .image-card .card{
    border-radius: 20px;
    width: 250px;
    height: 150px;
    justify-content: center;
    border: 0;
    padding: 25px;
    z-index: -1;
    margin-top: -20px;

}

.about .image-card .card img{
    width: 130px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.about .about-text{
    width: 70%;
    text-align: justify;
}
@media(max-width: 991px){
    .about {
        margin-top: 100px;
        text-align: center;
        padding: 10px;
    }
    .about .about-cards{
        margin-top: 50px;
        order: 2;
    }
    .about .about-details{
        order: 1;
    }
    .about  h5{
        text-align: center;
        margin: 0 auto;
        display: block;
        margin-top: 20px;
    }
    .about .card{
        margin: 0 auto;
    }
    .about .about-text{
        text-align: center;
        width: 100%;
    }
    .about .text-card .card{
        margin: 0 auto;
    }
    .about .image-card .card{
        margin: 0 auto;
        margin-top: 20px;
    }
}

/* -------------------------about end--------------------------- */




/* -------------------------features start--------------------------- */

    .features{
        margin-top: 200px;
    }

    .features .features-para{
        width: 60%;
        margin: 0 auto;
    }
    .features .card-line{
        width: 400px;
        height: 10px;
    } 
    .features .features-cards .card{
        border: 0;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
        border-radius: 20px;
        width: 300px;
        height: 100%;
        padding: 10px;
        margin: 0 auto;
        transition: 0.7s ease;
    }
    .features .features-cards .card:hover{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    }
    .features .features-cards .card img{
        width: 80px;
        height: auto;
        margin: 0 auto;
        display: block;
    }
    .features .features-cards a{
        text-decoration: none;
        text-align: center;
        margin: 0 auto;
        display: block;
        transition: 0.3s ease;
    }
    .features .features-cards a:hover{
        opacity: 0.7;
        color: #dfac4f;
    }
    .features .features-cards{
        margin-top: 50px;
    }
    @media(max-width: 991px){
        .features{
            margin-top: 100px;
            padding: 10px;
        }
        .features .features-para{
            width: 100%;
        }
        .features .feature-card{
            margin-top: 10px;
        }
    }

/* -------------------------features end--------------------------- */



/* -------------------------pricing start--------------------------- */

.pricing{
    margin-top: 200px;
}
.pricing .pricing-para{
    width: 60%;
    margin: 0 auto;
}
.pricing .card{
    border: 1px solid  #FEAC0F;
    border-radius: 20px;
    padding: 10px;
    height: 100%;
    width: 300px;
    background-color: transparent;
    margin: 0 auto;
    transition: 0.7s ease;
}
.pricing .card img{
    width: 60px;
    height: auto;
    display: block;
    margin: 0 auto;
    display: block;
}
.pricing .card:hover{
    transform: scale(1.1);
    z-index: 9;
    background-color: #FEAC0F;
}
.pricing .card:hover p, .pricing .card:hover h6, .pricing .card:hover h3{
    color: rgb(255, 255, 255);
}
.pricing-cards{
    margin-top: 50px;
}
.pricing .card:hover img{
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}
.pricing .card:hover button{
    border: 1px solid #ffffff;
    color: #ffffff;
}
.pricing .card button{
    border: 1px solid #FEAC0F;
    background-color: transparent;
    color: #FEAC0F;
    padding: 12px 20px;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    border-radius: 10px;
}
.pricing .card button:hover{
    opacity: 0.6;
}
@media(max-width: 991px){
    .pricing{
        margin-top: 100px;
        padding: 10px;
    }
    .pricing .pricing-para{
        width: 100%;
    }
    .pricing .price-card{
        margin-top: 10px;
    }
}


/* -------------------------pricing end--------------------------- */




/* -------------------------contact start--------------------------- */

    .contact{
        margin-top: 200px;
    }
    .contact .contact-details{
        margin-top: 50px;
    }
    .contact .contact-para{
        width: 80%;
        text-align: justify;
    }
    .contact form{
        margin-top: 50px;
        width: 400px;
    }
    .contact form input, .contact form textarea{
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-bottom: 1px solid #827C7C;
        border-radius: 0;
        background-color: transparent;
        padding: 10px;
    }
    .contact form ::placeholder{
        font-size: 13px;
        color: #B6AEAE;
    }
    .contact .contact-image{
        width: 500px;
        height: auto;
    }
    .contact a{
        font-size: 16px;
        text-decoration: none;
        transition: 0.3s ease;
    }
    .contact a:hover{
        color: #dfac4f;
    }
    .send-message img{
        width: 30px;
        height: auto;
    }
    .send-message img:hover{
        opacity: 0.6;
    }
    .send-message .send-link{
        margin-top: 3px;
    }
    @media(max-width: 991px){
        .contact{
            padding: 10px;
            margin-top: 50px;
            text-align: center;
        }
        .contact .contact-para{
            width: 100%;
        }
        .contact form{
            width: auto;
            height: auto;
        }
        .contact .send-message {
            margin: 0 auto;
            display: block;
            text-align: center;
            justify-content: center;
        }
        .contact .contact-image{
            margin-top: 20px;
        }
    }

/* -------------------------contact end--------------------------- */





/* -------------------------footer start--------------------------- */

.footer{
    margin-top: 200px;
    background-color: #131212;
    padding-top: 70px;
    padding-bottom: 70px;
    justify-content: center;
}
.footer img{
    display: block;
    margin: 0 auto;
}
.footer .social-icons{
    margin: 0 auto;
    justify-content: center;
}
.footer a{
    text-decoration: none;
}
.footer .footer-links a{
    color: #c9c6c6;
    transition: 0.3s ease;
}
.footer a:hover{
    color: rgb(255, 255, 255);
}
.footer .social-icons i{
    font-size: 20px;
    color: white;
    transition: 0.3s ease;
}
.footer .social-icons i:hover{
    color: #c9c6c6;
}
.footer hr{
    color: #B6AEAE;
}
.footer .footer-links{
    justify-content: center;
}
.footer .subscribe-text{
    color: #c9c6c6;
}
.footer .input-group  input{
    border-radius: 15px;
    border: 0;
}
.footer .input-group input::placeholder{
    font-size: 13px;
    color: #B6AEAE;
}
.footer .input-group button{
    background-color: #FEAC0F;
    padding: 15px 20px;
    border-radius: 15px;
    border: 0;
}
.footer .input-group button:hover{
    opacity: 0.6;
}
@media(max-width: 991px){
    .footer{
        text-align: center;
        margin-top: 50px;
    }
    .footer h6{
        margin-top: 20px;
    }
    .footer .social-icons{
        margin-bottom: 30px;
    }
    .footer h5{
        margin-top: 50px;
    }
}


/* -------------------------footer end--------------------------- */